@import '../../styles/_vars.scss';

.Caroussel {
  background: $alt-color-bg;
}

.Presentation {
  background: $main-color-bg;
  color: black;
  padding: 4em;
  font-size: 2vh;
}

.Collection {
  background-color: $alt-color-bg;
  color: $main-color-bg;
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
  font-size: 2vh;
}
.pictures {
  max-width: 30vw;
}
#Liberty {
  width: 100%;
}