@import '../../styles/_vars.scss';
.Contact-Main {
  font-size: 2vh;
}
.Contact-Main h3 {
  padding-top: 3em;
}
#mail {
  transition-duration: 800ms;
}
.Contact-Main>a {
  color: black;
}
#mail:hover {
  text-decoration: underline;
}