@import '../../styles/_vars.scss';

.Footer {
  background: $navbar-bg-color;
  color: $navbar-title-color;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.5vw;
  font-weight: 600;
  padding-bottom: 1em;
}
li {
  color: $navbar-font-color;
  padding: 0.3em 0;
}
a {
  text-decoration: none;
  color: $navbar-font-color;
}