@import '../../styles/_vars.scss';

.Footer {
  background: $navbar-bg-color;
  color: $navbar-title-color;
  height: 13vh;
  list-style: none;
  display: flex;
  width: 100vw;
  padding: 1em 0;
  justify-content: space-evenly;
  font-size: large;
  font-weight: 600;
}
li {
  color: $navbar-font-color;
  padding: 0.3em 0;
}
.divider {
  color: white;
}
a {
  text-decoration: none;
  color: $navbar-font-color;
}